.title {
  color: #333;
  text-align: center;
}
.text {
  color: #777;
  text-align: center;
  margin-bottom: 40px;
}
.album {
  display: inline-block;
  text-align: center;
}
.albumCover {
  width: 40%;
  cursor: pointer;

}